{
  "listen": "127.0.0.1:5000",
  "secret": "your-token-here",
  "logger": true,
  "customize": {
    "websiteURL": "",
    "websiteLogo": "",
    "websiteLogoSize": "",
    "disableKillCount": true
  }
}
